<h1>New Vehicle</h1>
<p>
  {{vehicle | json}}
</p>
<form (ngSubmit)="onSubmit()" ngForm name="vehicleForm" #f="ngForm">
  <div class="form-group">
    <label for="make">Choose Make</label>
    <select ngModel required name="makeId" #make="ngModel" [(ngModel)] = "vehicle.makeId"  id="make" (change)="loadModels($event, make.name)" class="form-control">
      <option value=""></option>
      <option *ngFor="let m of makes" [value]="m.id">
        {{m.name}}
      </option>
    </select>
  <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please specify a make</div>
  </div>
  <div class="form-group">
    <label for="model">Choose Model</label>
    <select ngModel required name="modelId" [(ngModel)] = "vehicle.modelId" id="model" class="form-control" #model="ngModel">
      <option *ngFor="let mod of models" [value]="mod.id">
        {{ mod.name }}
      </option>
    </select>
    <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please specify a model</div>
  </div>
  <div>
  <label> Is Regestered?
      <input ngModel name="isRegistered" type="radio" [(ngModel)] ="vehicle.isRegistered" [value] ="true">Yes
      <input ngModel name="isRegistered" type="radio" [(ngModel)] ="vehicle.isRegistered" [value] ="false">No
  </label>
</div>
  <h2>Features</h2>
  <div *ngFor="let f of features" class="checkbox">
    <label for="feature{{ f.id}}">
      <input  type="checkbox" id="feature{{ f.id }}"  (change)="onToggleFeature(f.id, $event)" [checked]="vehicle.features.includes(f.id)"> {{ f.name }}
    </label>
  </div>
  <div ngModelGroup name="contacts" class="form-group">
    <div>
      <label for="contactName">Contact Name</label>
      <textarea   [(ngModel)] = "vehicle.contact.name" #contactName="ngModel" name="contactName" id="contactName" class="form-control" required cols="20"
        rows="5">
        </textarea>
    <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.valid">Please choose a name</div>
    </div>
    <div>
      <label for="contactPhone">Contact Phone</label>
      <textarea   [(ngModel)] = "vehicle.contact.phone" #contactPhone=ngModel name="contactPhone" id="contactPhone" class="form-control" required cols="20"
        rows="5">
        </textarea>
    <div class="alert alert-danger" *ngIf="contactPhone.touched && !contactPhone.valid">Please choose a name</div>
    </div>
    <div>
      <label for="contactEmail">Contact Email</label>
      <textarea   [(ngModel)] = "vehicle.contact.email" name="contactEmail" id="contactEmail" class="form-control" cols="20"
        rows="5">
        </textarea>
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
  <button class="btn btn-danger" type="button" [disabled]="vehicle.id === 0" (click)="delete()">Delete</button>
</form>
