<h1>Vehicles</h1>
<button class="btn-link" [routerLink]="['/vehicle/new']">New Vehicle</button>
<div class="well">
  <div class="form-group">
    <label for="make"> Choose the make for filtering </label>
    <select ngModel name="makeFiltering" id="make" #makeFiltering="ngModel" [(ngModel)]="query.makeId" (change)="doFilter()"
      class="form-contol">
      <option value="">
        All
      </option>
      <option *ngFor="let m of makes" [value]="m.id">
        {{ m.name }}
      </option>
    </select>
  </div>
  <button class="btn btn-default" (click)="resetFilter()">Reset</button>
</div>
<table class="table">
  <caption>List of Vehicles</caption>
  <thead>
    <tr>
      <th *ngFor="let column of columns">
        <div *ngIf="column.isSortable" (click)="onSort(column.key)">
          {{column.title}}
          <i *ngIf="query.sortBy === column.key"
              class="fa"
              [class.fa-sort-asc]="query.isAscending"
              [class.fa-sort-desc]="!query.isAscending">
          </i>
        </div>
        <div *ngIf="!column.isSortable">
          {{column.title}}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let v of vehicles'>
      <td> {{ v.id }}</td>
      <td> {{ v.make.name }} </td>
      <td> {{ v.model.name }} </td>
      <td> {{ v.contact.name }}</td>
      <td> <a [routerLink]="['/vehicle/', v.id]">View</a></td>
    </tr>
  </tbody>
</table>
