<div class="navbar">
  <div class="navbar navbar-btn nav-pills">
    <a class="brand" href="#">Vega</a>
    <ul class="nav">
      <li [routerLinkActive]="['link-active']" >
        <a [routerLink]="['/home']">
          <span class='glyphicon glyphicon-home'></span>Home
        </a>
      </li>
      <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/vehicle/new']">
          <span class='glyphicon glyphicon-plus'></span>New Vehicle
        </a>
      </li>
      <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/vehicles']">
          <span class='glyphicon glyphicon-list'></span>
          Vehicles
        </a>
      </li>
      <li *ngIf="isLoggedIn" (click)="logout()">
          <a><span class='glyphicon glyphicon-user'></span>
          Logout
          </a>
      </li>
      <div *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/register">
              <span class='glyphicon glyphicon-user'></span>Registration</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/login"><span class='glyphicon glyphicon-user'></span>Login</a>
        </li>
      </div>
    </ul>
  </div>
</div>
